<label for="activity">Choisir une activité :</label>

<select
  id="activity"
  [(ngModel)]="selectedActivityId"
  (ngModelChange)="onActivitySelected()"
>
  <option [ngValue]="null">-- Sélectionne une activité --</option>

  @for (activity of activities; track activity.id) {
  <option [ngValue]="activity.id">
    {{ activity.emoji }} {{ activity.name }}
  </option>
  }
</select>
@if (selectedActivity) {
<div class="activity-preview">
  <h3>{{ selectedActivity.emoji }} {{ selectedActivity.name }}</h3>

  <p>Muscles : {{ selectedActivity.rewards.muscles ?? 0 }}</p>
  <input type="number" name="muscleAmount" [(ngModel)]="muscleAmount" />
  <p>Flex : {{ selectedActivity.rewards.flex ?? 0 }}</p>
  <input type="number" name="flexAmount" [(ngModel)]="flexAmount" />
  <p>Code : {{ selectedActivity.rewards.code ?? 0 }}</p>
  <input type="number" name="codeAmount" [(ngModel)]="codeAmount" />
  <p>Smut : {{ selectedActivity.rewards.smut ?? 0 }}</p>
  <input type="number" name="smutAmount" [(ngModel)]="smutAmount" />
  <p>Money : {{ selectedActivity.rewards.money ?? 0 }}</p>
  <input type="number" name="moneyAmount" [(ngModel)]="moneyAmount" />
</div>

<button (click)="deleteActivity(+selectedActivity.id)">
  Delete this activity
</button>
<button (click)="updateActivity(+selectedActivity.id)">
  Update this activity
</button>
}
